@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-grid($min, $columns) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: 2rem;
}
